::-webkit-scrollbar {
    display: none;
}

.listagem {
    max-width: 200px;
    height: 590px;
    overflow-y: scroll;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6B727A;
    color: #FFFFFF;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: 0.5s ease-in-out;
}

.listagem .pokemon:hover {
    transform: scale(1.05);
    background-color: #faa166;
    transition: linear;
}

.listagem .pokemon img {
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 20px;
}

.listagem .pokemon.ativo {
    background-color: #FA6668;
}

